body {
  font-family: 'Lato', sans-serif;
}

.icon-vom {
  content: '';
  display: block;
  height: 48px;
  width: 48px;
  top: 0px;
  left: -40px;
  background: url('../../assets/images/vom.png') no-repeat 0px 0px;
}



