
<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container">
        <i class="icon-vom" aria-hidden="true"></i>
        <span class="navbar-brand">
            &nbsp;VOM
        </span>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#home" pageScroll [pageScrollInterruptible]="false"
                       [pageScrollDuration]="1000" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#publication" pageScroll [pageScrollInterruptible]="false"
                       [pageScrollDuration]="1000">Publications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#work" pageScroll [pageScrollInterruptible]="false"
                       [pageScrollDuration]="1000">Works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#team" pageScroll [pageScrollInterruptible]="false"
                       [pageScrollDuration]="1000">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact" pageScroll [pageScrollInterruptible]="false"
                       [pageScrollDuration]="1000">Contact</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" routerLink="/blog">Blog</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="nav-link" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> Market</a></li>
            </ul>
        </div>
    </div>
</nav>



