body {
  padding-top: 80px;
  padding-bottom: 20px;
  background-color:white;
  font-family: 'Open Sans', Arial, Verdana, Sans-Serif;
  font-size: 17px;
  line-height: 32px;
  color: #242424;
}

.img-responsive{
  width: 725px;
}

.icon-vom {
  content: '';
  display: block;
  height: 48px;
  width: 48px;
  top: 0px;
  left: -40px;
  background: url('/../../assets/images/vom.png') no-repeat 0px 0px;
}

.navbar{
  background: #85929E;
}

@media screen and (max-width: 1100px ) and (min-width:1024px){
  .img-responsive {
    width: 600px;
  }

}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .img-responsive {
    width: 690px;
  }

}
@media screen and (max-width: 768px)and (min-width: 480px) {

  .img-responsive{
    width: 450px;
  }
}

@media screen and (max-width: 480px)and (min-width: 320px) {

  .img-responsive{
    width: 290px;
  }
}

@media screen and (max-width: 320px)and (min-width: 240px) {

  .img-responsive{
    width: 210px;
  }
}
