section{
    padding: 10px ;
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    background-color: rgba(0,0,0,.4);
    border-color: rgba(0,0,0,.1);
    left: 0;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    background-color: rgba(0,0,0,.4);
    border-color: rgba(0,0,0,.1);
    right: 0;
}

.bannerStyle {
    background-color: #ccc;
    background-size: cover !important;
    height: 100vh;
}

.bannerStyle img {
    width: 100%;
    height: 100%;
}

.bannerStyle h1 {
    line-height: 100vh;
    text-align: center;
    background: rgba(0, 0, 0, 0.32);
    color: white;
    margin: 0;
}

.col-center-block{
    float: none;
    display: block;
    margin: 0 auto;
}
p{
  font-family: "Verdana" , sans-serif;
  text-align: center;
}
#navcontainer ul {
  text-align: center;
  margin: 0;
  padding: 45px;
  list-style-type: none;
}

#navcontainer ul li {
  font-family: "lato", sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding: 80px;
  color: #2E86C1;
  display: inline;
}


.messageVom h1 {
  font-family: elena-regular;

}
.hey img{
  height: 25vh;
  margin-left: 30px;
  padding: 20px ;
}
.logo h1 {
  margin-top: 110px;
  font-size: 50px;
}
.vomParagraph h3 {
  padding: 0 85px 40px 85px;
  font-family: Didot-italic,Serif;
  font-size: 35px;
}
.vomSentence h2 {
 font-family: SignPainter;
  font-size: 52px;
}
.voemConcept{

  background-image: url('/assets/images/field.jpg') ;
  background-repeat: no-repeat;
  background-size: cover !important;
  width: 100%;
  height: 48vh;
}
.centerLetra {
  padding: 85px;
}
.centerLetra h1 {
  font-family: "Lato" , sans-serif;
  text-align: center;
  color: #FBFCFC;
  font-weight: lighter;
  font-size: 55px;
}
.centerLetra h2 {
  font-family: "Lato" , sans-serif;
  text-align: center;
  color: #FBFCFC;
  font-weight: lighter;
  font-size: 35px;
}

@media screen and (max-width: 1100px) and (min-width: 1024px) {
  .centerLetra h1 {
    font-size: 35px;
  }
  .centerLetra h2 {
    font-size: 30px;
  }
  .centerLetra {
    padding: 50px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
.vomParagraph h3{
  font-size: 28px;
}
  .vomSentence h2 {
    font-size: 42px;
  }
  .centerLetra h1 {
    font-size: 35px;
  }
  .centerLetra h2 {
    font-size: 30px;
  }
  .centerLetra {
    padding: 50px;
  }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .vomParagraph h3 {
    font-size: 24px;
  }
  .vomSentence h2 {
    font-size: 34px;
  }
  .centerLetra h1 {
    font-size: 25px;
  }
  .centerLetra h2 {
    font-size: 18px;
  }
  .centerLetra {
    padding: 50px;
  }
  .text-center img {
    width: 100%;
  }

}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .vomParagraph h3 {
    font-size: 18px;
  }
  .vomSentence h2 {
    font-size: 22px;
  }
  .centerLetra h1 {
    font-size: 25px;
  }
  .centerLetra h2 {
    font-size: 20px;
  }
  .centerLetra {
    padding: 30px;
  }
  .text-center img {
    width: 100%;
  }
  #navcontainer ul {
    padding: 15px;
  }
}

@media screen and (max-width: 320px) and (min-width: 240px) {

  .centerLetra h1 {
    font-size: 20px;
  }
  .centerLetra h2 {
    font-size: 15px;
  }
  .centerLetra {
    padding: 30px;
  }
  .text-center img {
    width: 100%;
  }
  #navcontainer ul {
    padding: 1px;
  }
}
