body{
  background: url("../../app/home/nightsky.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 800px;

}
h1 {
  color:red;
}

img {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.dropdown-toggle {background-color: transparent;}

.dropdown {background-color: transparent;}
