
<body>

<h1>Home </h1>

<div class="row">
  <div class="col-md-2">
<div class="dropdown" appDropdownColors>
  <button class="btn btn-default on dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
    <img src="http://www.ikea.com/ms/es_ES/campaigns/new/img/lupa.png">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Menu item 1</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Menu item 2</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Menu item 3</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Menu item 4</a></li>
  </ul>
</div>
</div>
</div>
</body>
